body{
    background-color: beige;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px;
}
.calculator form input{
    border-radius: 10px;
    width: 20%;
    margin:2px;
    cursor:pointer;
}
form input.equal{
    width:80px;
}
form input.mult{
    margin-left: 26%;
}
#tbox{
    border-radius: 80px;
    text-align: right;
}